            <section class="row" style="margin-top:20px;">
                <div class="col-lg-4 col-md-4">
                    <a class="hover-wrapper">
                        <img src="alt-bg.jpg" alt="">
                        <div class="expand-content">
                            <h2>MUSIC   <span class="entypo-right-open-big"></span></h2> 
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="hover-wrapper">
                        <img src="faded.jpg" alt="">
                        <div class="expand-content">
                            <h2>NEWS  <span class="entypo-right-open-big"></span></h2> 
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="hover-wrapper">
                        <img src="statik-cover.jpg" alt="">
                        <div class="expand-content">
                            <h2>GET IN TOUCH   <span class="entypo-right-open-big"></span></h2> 
                        </div>
                    </a>
                </div>              
            </section>