<head>
    <meta charset="UTF-8">
    <link rel="subresource" href="http://www.youtube.com/embed/X0JLsI4s9jE">
    <link rel="prefetch" href="http://www.businessmarketingtechonlogies.com/statik-musik/music.html">
    <link rel="prerender" href="http://www.businessmarketingtechonlogies.com/statik-musik/music.html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statik Musik - Home Page</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="app/css/font-awesome.css">
    <link rel="stylesheet" href="app/css/bootstrap.css">
    <link rel="stylesheet" href="app/css/mine/master.css">
    <script async src="app/js/vendor/modernizr.custom.js"></script> 
    <script src="app/js/app.js"></script>
</head>
