
<div class="content-wrap">
  
  <section class="main-content">
    
        <div class="entry">
           <header class="entry-header" style="max-width:91.6666667%">
                 <h1 class="entry-title">GET IN CONTACT</h1>
            </header>
             <div class="col-lg-9" style="background: #fff;">
    
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quasi perferendis beatae? Nostrum, aliquid, unde, quo alias ipsam distinctio totam corrupti .</p>

              <form role="form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              
            </div>
          </div>  

  </section>
  <div class="secondary-info">
                    <div class="entry">
              <div class="entry-content">
                   <header class="entry-header">
                     <h1 class="entry-title">Featured Shows</h1>
                   </header>
               
                      <div class="block-level entry-hover-change"> 

                        <div class="entry-date-wrap">
                          <div class="entry-date">
                            <div class="date">8</div>
                            <div class="month">October</div>
                          </div>                                    
                        </div> 
                          <div class="entry-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>      
            
                      </div> 
                      <div class="block-level entry-hover-change"> 

                        <div class="entry-date-wrap">
                          <div class="entry-date">
                            <div class="date">8</div>
                            <div class="month">October</div>
                          </div>                                    
                        </div> 
                          <div class="entry-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>      
            
                      </div>                        

                </div>
                </div>
  </div>


</div>