
            <div class="content-wrap">
                <section class="main-content">
                <!-- SOUNDCLOUD ENTRY -->
                     <div class="entry">
                     <header class="entry-header" style="max-width:91.6666667%">
                           <h1 class="entry-title">Featured Music</h1>
                      </header>
                       <div class="col-lg-11" style="background: #fff;">
              
                        <iframe width="100%" height="330" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F2349250&amp;color=1c1d21&amp;auto_play=false&amp;show_artwork=true"></iframe>
                        
                      </div>
                    </div>
                    <!-- RECENT POSTS -->
                    <div class="entry">
                       <div class="col-lg-11" style="">
                       <div class="entry-content" style="padding-bottom: 0;"> 
                         <header class="entry-header">
                           <h1 class="entry-title">RECENT NEWS</h1>
                         </header>
 
                        <div class="row">
                          <div class="entry-snippet">
                            <h2>Example Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, cum, minus, esse,</p>
                          </div>
                          <div class="entry-snippet">
                            <h2>Example Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, tempora, tempo.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="entry-snippet">
                            <h2>Example Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, cum, minus, esse,</p>
                          </div>
                          <div class="entry-snippet">
                            <h2>Example Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, tempora, tempo.</p>
                          </div>
                        </div>
                      </div>

                      </div>
                    </div>
                </section>

                <!-- SIDEBAR -->
                <aside class="secondary-info">
                  <div class="entry">
                  <div class="entry-content">  <div class="entry-header">
                      <h1 class="entry-title">VIDEOS</h1>
                    </div>
                    
                       <iframe src="http://www.youtube.com/embed/X0JLsI4s9jE" frameborder="0" allowfullscreen></iframe><br>
                        <p class="text-right"><a href="/" class="btn btn-default">More Videos</a></p>             
                    </div>
                  </div>
  
                <div class="entry">
              <div class="entry-content">
                   <header class="entry-header">
                     <h1 class="entry-title">Featured Shows</h1>
                   </header>
               
                      <div class="block-level entry-hover-change"> 

                        <div class="entry-date-wrap">
                          <div class="entry-date">
                            <div class="date">8</div>
                            <div class="month">October</div>
                          </div>                                    
                        </div> 
                          <div class="entry-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>      
            
                      </div> 
                      <div class="block-level entry-hover-change"> 

                        <div class="entry-date-wrap">
                          <div class="entry-date">
                            <div class="date">8</div>
                            <div class="month">October</div>
                          </div>                                    
                        </div> 
                          <div class="entry-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>      
            
                      </div>                        

                </div>
                </div>

                       


                </aside>

            </div>
<!-- /container -->