	<div class="container mt-40">
		<div class="content-wrap">

			<div class="main-content">
				<div class="entry">
				
					<div class="entry-content">

						<div class="entry-header">
							<h1 class="entry-title">
								Recent News
							</h1>
						</div>

						<article class="feat-post">
							<figure>
								<img src="statik-cover.jpg" alt="" height="240" width="80%">
							</figure>
							<div class="post-content">
								<h3 class="feat-post-title">Recent Article</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, velit, veritatis, ea quis iusto aspernatur repudiandae consequatur suscipit odio ipsum placeat mollitia deserunt ex fugiat aliquid! Neque, itaque provident ipsam!</p>
								<p class="text-right pad-h">
									<a href="/" class="btn btn-lg btn-info">Read More</a>
								</p>
							</div>
						</article>
						<div class="entry">
							<div class="col-lg-6">
								<div class="feat-post">
									<figure><img src="statik-cover.jpg" alt=""></figure>
									<div class="post-content">
										<h3 class="feat-post-title">Recent Article</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, velit, veritatis, ea quis iusto aspernatur repudiandae consequatur suscipit odio ipsum placeat mollitia deserunt ex fugiat aliquid! Neque, itaque provident ipsam!</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6"></div>
						</div>

					</div>
				</div>
			</div>

			<div class="secondary-info">
				<div class="entry pad-h">
					<div class="entry-content">
						<div class="entry-header">
							<h1 class="entry-title">Archives</h1>
						</div>					

						<div class="list-group">
						  <a href="#" class="list-group-item">
						    <h4 class="list-group-item-heading">List group item heading</h4>
						    <p class="list-group-item-text">...</p>
						  </a>
						  <a href="#" class="list-group-item">
						    <h4 class="list-group-item-heading">List group item heading</h4>
						    <p class="list-group-item-text">...</p>
						  </a>						  
						  <a href="#" class="list-group-item">
						    <h4 class="list-group-item-heading">List group item heading</h4>
						    <p class="list-group-item-text">...</p>
						  </a>
						</div>
					</div>
	
				</div>
			</div>

		</div>
	</div>